button {
  width: 100px;
  margin: 10px;
  padding: 5px;
  background-color: greenyellow;
  border: 1px, solid, #000;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background-color: blue;
}